@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="OpenLayers" />
    <title>OpenLayers</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "Microsoft YaHei"
        }

        .mapDiv {
            width: 100%;
            height: 100%;
            float: left;
        }
    </style>
</head>
<body>
    <div class="mapDiv" id="mapDiv"></div>
    <script src="~/Scripts/kriging/kriging.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        var map = new ol.Map({
            target: 'mapDiv',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                //center: ol.proj.fromLonLat([104.2, 37.8]),
                center: [104.2, 37.8],
                projection: 'EPSG:4326',
                zoom: 5
            })
        });
        $.getJSON("https://openlayers.org/en/v4.6.5/examples/data/geojson/countries.geojson", function (res) {
            var featuresSrc = res.features;
            var features = (new ol.format.GeoJSON()).readFeatures(res);
            for (var i = 0; i < features.length; i++) {
                var featureSrc = featuresSrc[i];
                var feature = features[i];
                var vectorSource = new ol.source.Vector();
                vectorSource.addFeature(feature);
                if (featureSrc.geometry.type == "MultiPolygon") {
                    var t = false;
                    for (var j = 0; j < featureSrc.geometry.coordinates.length; j++) {
                        if (featureSrc.geometry.coordinates[j].length > 1) {
                            t = true;
                            break;
                        }
                    }
                    if (t) {
                        var vectorLayer = new ol.layer.Vector({
                            source: vectorSource,
                            style: new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    color: '#333333',
                                    width: 2
                                }),
                                fill: new ol.style.Fill({
                                    color: '#00EE40'
                                })
                            }),
                            map: map
                        });
                    } else {
                        var vectorLayer = new ol.layer.Vector({
                            source: vectorSource,
                            style: new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    color: '#333333',
                                    width: 2
                                }),
                                fill: new ol.style.Fill({
                                    color: '#FFFF00'
                                })
                            }),
                            map: map
                        });
                    }
                } else {
                    if (featureSrc.geometry.coordinates.length > 1) {
                        var vectorLayer = new ol.layer.Vector({
                            source: vectorSource,
                            style: new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    color: '#333333',
                                    width: 2
                                }),
                                fill: new ol.style.Fill({
                                    color: '#FF7E00'
                                })
                            }),
                            map: map
                        });
                    } else {
                        var vectorLayer = new ol.layer.Vector({
                            source: vectorSource,
                            style: new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    color: '#333333',
                                    width: 2
                                }),
                                fill: new ol.style.Fill({
                                    color: '#FF0000'
                                })
                            }),
                            map: map
                        });
                    }
                }
            }
        });
    </script>
</body>
</html>
